
COMPOSES_FILES="
all:docker-compose.yml
"

SERVICES_COMMANDS="
all:deploy;undeploy;redeploy;status;restart;logs;up;down;
web:makemigrations;manage;migrate;shell_plus;debug;build;git;pre-commit
db:psql;wait;dump;restore;copy;
pgadmin:;
redis:
"

SERVICES_DEPENDENCIES="
web:node;redis;db
db:pgadmin
"

ARG_SERVICE_PARSE="
web:django
"

# Converter Terminações de Linha de CRLF (usado no Windows) para LF (usado no Unix/Linux)
# sed -i 's/\r$//' docker/dev/.env.dev.sample